* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
     * colors
     */

  /* Shades with 12% opacity */
  --imperial_red_12: hsla(357, 86%, 57%, 0.12);
  --pacific_blue_12: hsla(188, 78%, 41%, 0.12);
  --davys_gray_12: hsla(210, 9%, 31%, 0.12);
  --blue_ryb_12: hsla(220, 100%, 50%, 0.12);
  --emerald_12: hsla(144, 62%, 53%, 0.12);
  --coral_12: hsla(15, 100%, 65%, 0.12);

  /* Shades with 8% opacity */
  --black_08: hsla(0, 0%, 0%, 0.06);
  --black_12: hsla(0, 0%, 0%, 0.12);

  /* Standard Colors */
  --imperial_red: hsl(357, 86%, 57%);
  --pacific_blue: hsl(188, 78%, 41%);
  --davys_gray: hsl(210, 9%, 31%);
  --sonic_sliver: hsl(0, 0%, 47%);
  --blue_ryb: hsl(220, 100%, 50%);
  --space_cadet: hsl(220, 41%, 20%);
  --eerie_black: hsl(214, 10%, 13%);
  --emerald: hsl(144, 62%, 53%);
  --cool_gray: hsl(225, 11%, 59%);
  --cultured: hsl(225, 20%, 96%);
  --coral: hsl(15, 100%, 65%);
  --sunglow: hsl(44, 100%, 61%);
  --onyx: hsl(207, 8%, 21%);
  --onyx_2: hsl(210, 10%, 23%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  /**
     * typography
     */

  --ff-vietnam: "Be Vietnam Pro", sans-serif;

  --fs-0: 2rem;
  --fs-1: 1.563rem;
  --fs-2: 1.5rem;
  --fs-3: 1.25rem;
  --fs-4: 1.078rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.844rem;
  --fs-9: 0.813rem;
  --fs-10: 0.769rem;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /**
     * transition
     */

  --transition: 0.25s ease;
  --cubic-out: cubic-bezier(0.45, 0.85, 0.5, 1);
  --cubic-in: cubic-bezier(0.5, 0, 0.5, 0.95);

  /**
     * radius
     */

  --radius-3: 3px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;

  /**
     * shadow
     */

  --shadow-1: 0 12px 20px hsla(210, 10%, 23%, 0.07);
  --shadow-2: 0 2px 10px hsla(0, 0%, 0%, 0.04);
  --shadow-3: 0 2px 20px var(--black_08);
}

/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
data,
time,
input,
button,
span.icon {
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

input,
select,
textarea,
input:focus,
select:focus,
textarea:focus {
  font-size: var(--fs-6);
  background: var(--white);
  color: var(--black);
  outline: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  height: 65px;
  text-align: center !important;
  font-size: var(--fs-6);
}

html {
  font-family: var(--ff-vietnam);
  scroll-behavior: smooth;
}

body {
  padding-block-start: 72px;
  background: var(--cultured);
  font-family: Arial, sans-serif;
}

:focus-visible {
  outline: 2px solid var(--onyx);
  outline-offset: 1px;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: var(--cultured);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--cool_gray);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}

/*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/

.container {
  padding-inline: 15px;
}

.main-container {
  padding: 20px 0;
  display: flex;
}

.row {
  display: flex;
  justify-content: space-between;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.material-symbols-rounded {
  font-size: var(--fs-3);
  margin-right: 5px;
}

.error {
  color: var(--imperial_red);
  font-size: var(--fs-8);
  margin-bottom: var(--radius-8);
}

@media screen and (max-width: 768px) {
  .main-container {
    padding: 8px 0;
  }

  .row {
    flex-direction: column;
  }
}
