/*==============================*/
/* Transaction Sidebar */
/*==============================*/

.transaction-sidebar {
  width: 250px;
  height: fit-content;
  margin: 0 18px;
  padding: 0;
  background: var(--white);
  border-radius: var(--radius-16);
  box-shadow: var(--shadow-1);
}

.transaction-sidebar-content {
  padding-bottom: var(--radius-6);
}

.transaction-sidebar-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .transaction-sidebar {
    width: calc(100% - (var(--radius-10) * 2));
    margin: 0 0 0 var(--radius-10);
    margin-bottom: var(--fs-8);
    background: var(--white);
  }

  .transaction-sidebar-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--fs-4);
    background: var(--cultured);
    border-radius: var(--radius-8);
    margin-bottom: 20px;
  }

  .transaction-sidebar-mobile .material-symbols-rounded {
    font-size: var(--fs-3);
  }

  .transaction-sidebar-mobile-revenue-info {
    display: flex;
    align-items: center;
  }

  .transaction-sidebar-mobile-revenue-info
    .transaction-sidebar-customer-invoice {
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
    color: var(--eerie_black);
  }

  .transaction-sidebar-mobile .transaction-sidebar-icon {
    color: var(--primary-color);
  }

  .transaction-sidebar-mobile .transaction-sidebar-icon-segment {
    color: var(--secondary-color);
  }
}

/*==============================*/
/* Transaction Sidebar Header */
/*==============================*/

.transaction-sidebar-actions {
  padding: var(--radius-3) var(--radius-8);
}

.transaction-sidebar-actions .transaction-sidebar-header {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  margin-bottom: var(--fs-5);
  color: var(--eerie_black);
  background: var(--white);
  display: flex;
  align-items: center;
  gap: var(--radius-6);
  padding: 10px;
  border-radius: var(--radius-8);
}

.transaction-sidebar-actions .transaction-sidebar-header-icon {
  font-size: var(--fs-2);
  color: var(--pacific_blue);
}

.transaction-sidebar-actions .transaction-sidebar-header-text {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
}

.transaction-sidebar-actions .transaction-sidebar-links {
  list-style: none;
  padding: 0;
  margin-bottom: var(--fs-4);
}

.transaction-sidebar-actions .transaction-sidebar-links li {
  margin-bottom: var(--radius-10);
}

.transaction-sidebar-actions .transaction-sidebar-button {
  background: none;
  border: none;
  gap: 20px;
  width: 100%;
  font-size: var(--fs-6);
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: var(--radius-8);
  color: var(--davys_gray);
}

.transaction-sidebar-actions .transaction-sidebar-button:hover {
  background: var(--pacific_blue_12);
  color: var(--pacific_blue);
}

.transaction-sidebar-actions .transaction-sidebar-button.active {
  background: var(--pacific_blue);
  color: var(--white);
  font-weight: var(--fw-600);
}

@media screen and (max-width: 768px) {
  .transaction-sidebar-actions .transaction-sidebar-header {
    display: none;
  }
}

/*==============================*/
/* Transaction Sidebar List Items  */
/*==============================*/

.transaction-sidebar-list-items {
  list-style: none;
  padding: 0;
  border-radius: var(--radius-8);
}

.transaction-sidebar-list-items .transaction-sidebar-list-items-title {
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  color: var(--eerie_black);
  background: var(--white);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: var(--radius-10);
  border-radius: var(--radius-8) var(--radius-8) 0 0;
}

.transaction-sidebar-list-items .transaction-sidebar-list-items-list {
  max-height: 450px;
  overflow-y: auto;
  background: var(--white);
  border-radius: 0 0 var(--radius-6) var(--radius-6);
  padding: 0 var(--radius-6);
}

.transaction-sidebar-list-items .transaction-sidebar-customer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: var(--radius-6) var(--radius-10);
  margin: var(--radius-6) 0;
  background: var(--black_08);
  border-radius: var(--radius-16);
}

.transaction-sidebar-list-items
  .transaction-sidebar-customer
  .transaction-sidebar-customer-info {
  display: flex;
  flex-direction: column;
  gap: var(--radius-3);
}

.transaction-sidebar-list-items
  .transaction-sidebar-customer
  .transaction-sidebar-customer-name {
  font-weight: var(--fw-500);
  font-size: var(--fs-7);
  color: var(--pacific_blue);
}

.transaction-sidebar-list-items
  .transaction-sidebar-customer
  .transaction-sidebar-customer-house,
.transaction-sidebar-list-items
  .transaction-sidebar-customer
  .transaction-sidebar-customer-amount {
  font-size: var(--fs-8);
  color: var(--davys_gray);
}

@media screen and (max-width: 768px) {
  .transaction-sidebar-list-items.mobile-view {
    display: none;
  }

  .transaction-sidebar-list-items .transaction-sidebar-list-items-list {
    max-height: 300px;
  }
}
