.forgot-password-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--cultured);
}

.forgot-password-form {
  background: var(--white);
  border-radius: var(--radius-8);
  box-shadow: var(--shadow-1);
  text-align: center;
  padding: 2rem;
  width: 25%;
}

.forgot-password-form h1 {
  font-size: var(--fs-2);
  margin-bottom: 2rem;
}

.forgot-password-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password-form label {
  margin-bottom: 0.8rem;
  align-self: flex-start;
  position: relative;
}

.forgot-password-form input {
  width: 80%;
  padding: 0.75rem;
  font-size: var(--fs-6);
  color: var(--sonic_sliver);
  margin-bottom: 2rem;
  border: 1px solid var(--pacific_blue_12);
  border-radius: var(--radius-6);
}

.forgot-password-form button {
  width: 80%;
  padding: 0.75rem;
  margin: 2rem auto 1rem;
  font-size: var(--fs-5);
  background: var(--space_cadet);
  color: var(--white);
  text-align: center;
  border: none;
  border-radius: var(--radius-6);
  cursor: pointer;
  transition: background-color var(--transition);
}

.forgot-password-form button:hover {
  background: var(--pacific_blue);
}

@media (max-width: 768px) {
  .forgot-password-form {
    width: 100%;
    padding: 2rem;
  }

  .forgot-password-form input,
  .forgot-password-form button {
    width: 100%;
  }
}
