/*==============================*/
/* transactions sidebar */
/*==============================*/

.transactions-sidebar {
  width: 250px;
  height: fit-content;
  margin: 0 0 0 18px;
  background: var(--davys-gray_12);
  border-radius: var(--radius-16);
  box-shadow: var(--shadow-1);
}

.transactions-sidebar-container {
  padding-bottom: var(--fs-10);
}

.mobile-transactions-sidebar {
  display: none;
}

@media screen and (max-width: 768px) {
  .transactions-sidebar {
    width: calc(100% - (var(--radius-10) * 2));
    margin: 0 0 0 var(--radius-10);
    margin-bottom: var(--fs-8);
    background: transparent;
  }

  .mobile-transactions-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--fs-4);
    background: var(--davys-gray_12);
    border-radius: var(--radius-8);
    margin-bottom: 20px;
  }

  .mobile-transactions-sidebar .material-symbols-rounded {
    font-size: var(--fs-3);
  }

  .mobile-revenue-info {
    display: flex;
    align-items: center;
  }

  .mobile-revenue-info .customer-invoice {
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
    color: var(--eerie-black);
  }

  .mobile-transactions-sidebar .icon-sort {
    color: var(--primary-color);
  }

  .mobile-transactions-sidebar .icon-segment {
    color: var(--secondary-color);
  }
}

/*==============================*/
/* transactions sidebar header */
/*==============================*/

.transactions-sidebar-actions {
  padding: var(--fs-10) var(--fs-4);
}

.transactions-sidebar-actions .transactions-sidebar-header {
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  margin-bottom: var(--fs-5);
  color: var(--eerie-black);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: var(--radius-8);
  background-color: var(--pacific-blue_12);
}

.transactions-sidebar-actions .transactions-sidebar-header .header-icon {
  font-size: var(--fs-2);
  color: var(--pacific-blue);
}

.transactions-sidebar-actions .transactions-sidebar-header .header-text {
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
}

.transactions-sidebar-actions .sidebar-links {
  list-style: none;
  padding: 0;
  margin-bottom: var(--fs-2);
}

.transactions-sidebar-actions .sidebar-links li {
  margin-bottom: 10px;
}

.transactions-sidebar-actions .sidebar-button {
  background: none;
  border: none;
  gap: 20px;
  width: 100%;
  font-size: var(--fs-4);
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: var(--radius-8);
  color: var(--davys-gray);
}

.transactions-sidebar-actions .sidebar-button:hover {
  background-color: var(--pacific-blue_12);
  color: var(--pacific-blue);
}

.transactions-sidebar-actions .sidebar-button.active {
  background-color: var(--pacific-blue);
  color: var(--white);
  font-weight: var(--fw-600);
}

@media screen and (max-width: 768px) {
  .transactions-sidebar-actions .transactions-sidebar-header {
    display: none;
  }
}

/*==============================*/
/* transactions sidebar due payments */
/*==============================*/

.transactions-sidebar-due-payments {
  list-style: none;
  padding: 0;
  border-radius: var(--radius-8);
}

.transactions-sidebar-due-payments .due-payments-title {
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  color: var(--eerie-black);
  background: var(--emerald_12);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: var(--radius-8);
}

.transactions-sidebar-due-payments .due-payments {
  height: 265px;
  overflow-y: auto;
  background: var(--white);
  border-radius: var(--radius-6);
  padding: 10px;
}

.transactions-sidebar-due-payments li {
  margin-bottom: 10px;
}

.transactions-sidebar-due-payments .customer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 10px;
  background: var(--coral_12);
  border-radius: var(--radius-16);
}

.transactions-sidebar-due-payments .customer .customer-info {
  display: flex;
  flex-direction: column;
}

.transactions-sidebar-due-payments .customer .customer-name {
  font-weight: var(--fw-600);
  font-size: var(--fs-7);
  color: var(--eerie-black);
}

.transactions-sidebar-due-payments .customer .customer-house,
.transactions-sidebar-due-payments .customer .customer-amount {
  font-size: var(--fs-8);
  color: var(--davys-gray);
}

@media screen and (max-width: 768px) {
  .transactions-sidebar-due-payments.mobile-view {
    display: none;
  }
}
