.transactions-sidebar {
  width: 200px;
  padding: 15px;
  height: fit-content;
  padding-bottom: 15px;
  margin-left: 18px;
  background: var(--white);
  border-radius: 16px;
}

.transactions-sidebar h2 {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  margin-bottom: 20px;
}

.transactions-sidebar ul {
  height: 70vh;
  list-style: none;
}

.transactions-sidebar li {
  margin-bottom: 10px;
}

.transactions-sidebar button {
  background: none;
  border: none;
  gap: 20px;
  font-size: var(--fs-4);
  cursor: pointer;
  transition: var(--transition);
}

.transactions-sidebar button:hover {
  color: var(--pacific-blue);
}
