/* Desktop Sidebar Styles */
.sidebar {
  width: 367px;
  height: fit-content;
  padding-bottom: 15px;
  margin-left: 18px;
  background: var(--white);
  border-radius: 16px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.sidebar-header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sidebar-header-icons .icon {
  cursor: pointer;
}

.sidebar-header-icons .icon:hover {
  color: var(--blue_ryb);
}

.sidebar-title {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  color: var(--onyx_2);
}

.search-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.full-name {
  font-size: var(--fs-7);
  font-weight: var(--fw-600);
  color: var(--onyx_2);
  margin-bottom: 5px;
}

.gender-age {
  font-size: var(--fs-7);
  color: var(--sonic_sliver);
}

.people-list {
  overflow-y: auto;
  max-height: 121vh;
  list-style-type: none;
  padding: 10px;
}

.person-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  padding: 10px;
}

.person-item.active {
  border-radius: 20px;
  background: var(--pacific_blue_12);
}

/* Mobile Sidebar Styles */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    max-width: 320px;
    height: calc(100vh - 80px);
    position: fixed;
    top: 120px;
    left: -100%;
    background: var(--white);
    border-radius: 0 16px 16px 0;
    transition: left var(--transition);
    z-index: 5;
  }

  .sidebar.hide {
    display: none;
  }

  .sidebar-header {
    margin-top: 10px;
    border-bottom: 1px solid var(--cool_gray);
  }

  .sidebar-header-icons .icon.add {
    display: none;
  }

  .search-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .sidebar .menu-icon {
    margin-left: 20px;
  }

  .people-list {
    overflow-y: auto;
    padding: 10px;
    max-height: calc(100vh - 200px);
  }

  .person-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: background-color var(--transition);
  }

  .person-item.active {
    background: var(--pacific_blue_12);
  }

  .sidebar.show {
    left: -18px;
  }
}

/*===================================*/
/* Sidebar Media Screens Styles */
/*===================================*/

.sidebar-media-screens {
  display: none;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .sidebar-media-screens {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background: var(--white);
    margin-top: -10px;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
  }

  .sidebar-media-screens .open-sidebar {
    font-size: var(--fs-3);
    font-weight: var(--fw-700);
    padding: 10px;
    cursor: pointer;
  }

  .sidebar-media-screens .start-new-chat {
    font-size: var(--fs-3);
    font-weight: var(--fw-700);
    padding: 10px;
    cursor: pointer;
  }
}
