.edit-user-container {
  padding: var(--fs-10);
  margin: 0 auto;
  border-radius: var(--radius-8);
  max-width: 600px;
  background: var(--light-gray);
}

.edit-user-container .modal-title {
  margin-bottom: var(--fs-1);
  font-size: var(--fs-4);
  color: var(--davys_gray);
}

.edit-user-container .edit-user-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--fs-5);
  margin-top: var(--fs-10);
}

.edit-user-container .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--fs-8);
}

.edit-user-container label {
  font-size: var(--fs-6);
  color: var(--davys_gray);
}

.edit-user-container input,
.edit-user-container select {
  padding: var(--radius-8) var(--radius-12);
  font-size: var(--fs-6);
  background: var(--white);
  width: 100%;
  color: var(--cool_gray);
  margin-top: var(--radius-6);
  border: 1px solid var(--cultured);
  border-radius: var(--radius-6);
}

.edit-user-container .role-options {
  display: flex;
  justify-content: space-between;
}

.edit-user-container .toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-top: 6px;
}

.edit-user-container .toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.edit-user-container .toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--cultured);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 24px;
}

.edit-user-container .toggle-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.edit-user-container input:checked + .toggle-slider {
  background-color: var(--space_cadet);
}

.edit-user-container input:focus + .toggle-slider {
  box-shadow: 0 0 1px var(--space_cadet);
}

.edit-user-container input:checked + .toggle-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.edit-user-container .submit-button {
  padding: var(--radius-10) var(--radius-12);
  color: var(--white);
  font-size: var(--fs-5);
  background: var(--space_cadet);
  border: none;
  text-align: center;
  border-radius: var(--radius-8);
  cursor: pointer;
  grid-column: span 2;
}

.edit-user-container .submit-button:hover {
  background: var(--pacific_blue);
}

@media screen and (max-width: 768px) {
  .edit-user-container .edit-user-form {
    display: block;
    grid-template-columns: 1fr 1fr;
    margin-bottom: var(--radius-3);
  }

  .edit-user-container .form-group {
    flex-basis: 100%;
  }
}
