/*==============================*/
/* revenue container */
/*==============================*/

.revenue-container {
  background: var(--cultured);
  width: 100%;
}

/*==============================*/
/* revenue header */
/*==============================*/

.revenue-header {
  display: flex;
  align-items: center;
  padding: var(--fs-3);
  background: var(--white);
  border-radius: var(--radius-8);
  box-shadow: var(--shadow-1);
  margin-bottom: var(--fs-3);
}

.revenue-header span.material-symbols-rounded {
  cursor: pointer;
  font-size: var(--fs-3);
  color: var(--space_cadet);
}

.revenue-header-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 0 var(--fs-3);
}

.revenue-invoice-info {
  display: flex;
  flex-direction: column;
}

.cust-invoice {
  color: var(--pacific_blue);
  font-weight: var(--fw-600);
  font-size: var(--fs-4);
}

@media screen and (max-width: 768px) {
  .revenue-header {
    display: none;
  }
}

/*==============================*/
/* revenue chart */
/*==============================*/

.revenue-charts {
  width: 100%;
  margin-bottom: var(--fs-3);
}

/*==============================*/
/* revenue chart filter */
/*==============================*/

.revenue-charts .charts-revenue-data-filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: var(--fs-10);
  background: var(--white);
  color: var(--black);
  border-radius: var(--radius-8);
}

.revenue-charts .charts-revenue-data-filter .filter {
  display: flex;
  align-items: center;
}

.revenue-charts .charts-revenue-data-filter .filter .completed {
  color: var(--emerald);
}

.revenue-charts .charts-revenue-data-filter .filter .cancelled {
  color: var(--imperial_red);
}

.charts-revenue-data-filter label {
  font-weight: var(--fw-500);
  font-size: var(--fs-6);
  margin-right: var(--fs-1);
}

.charts-revenue-data-filter select,
.charts-revenue-data-filter input[type="month"] {
  padding: var(--radius-3) var(--radius-8);
  margin: var(--radius-6);
  font-size: var(--fs-6);
  background: var(--cultured);
  width: 10vw;
  border: none;
  border-radius: var(--radius-8);
}

@media screen and (max-width: 768px) {
  .revenue-charts .charts-revenue-data-filter {
    flex-direction: column;
    gap: var(--radius-10);
    padding: var(--radius-8) var(--radius-8);
  }

  .charts-revenue-data-filter select,
  .charts-revenue-data-filter input[type="month"] {
    width: 100%;
    padding: var(--radius-3) var(--radius-8);
    margin: var(--radius-6);
    font-size: var(--fs-6);
    width: 30vw;
  }
}

/*==============================*/
/* revenue charts container */
/*==============================*/

.revenue-charts-container {
  display: flex;
  gap: var(--fs-3);
}

.revenue-charts-container .chart-header {
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  color: var(--eerie_black);
  margin-bottom: var(--fs-4);
}

.area-chart-container {
  flex-basis: 65%;
  overflow-x: auto;
  padding: var(--fs-5);
  background: var(--white);
  border-radius: var(--radius-8);
  box-shadow: var(--shadow-1);
}

.doughnut-chart-container {
  flex-basis: 35%;
  overflow-x: auto;
  padding: var(--fs-5);
  background: var(--white);
  border-radius: var(--radius-8);
  box-shadow: var(--shadow-1);
}

@media screen and (max-width: 768px) {
  .revenue-charts-container {
    flex-direction: column;
  }

  .area-chart-container,
  .doughnut-chart-container {
    flex-basis: 100%;
    padding: var(--fs-6);
  }
}

/*==============================*/
/* table container */
/*==============================*/

.revenue-table-container {
  margin-left: -270px;
  padding: var(--fs-5);
  background: var(--white);
  border-radius: var(--radius-8);
  box-shadow: var(--shadow-1);
}

.revenue-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 35px;
}

.revenue-table th,
.revenue-table td {
  background: var(--white);
  font-weight: var(--fw-500);
  color: var(--davys_gray);
  text-align: center;
}

/* Status colors */
.revenue-table .Card {
  color: #8884d8;
}

.revenue-table .Bank {
  color: #a4de6c;
}

.revenue-table .Cash {
  color: #ffc658;
}

.revenue-table .Mpesa {
  color: #82ca9d;
}

.revenue-table .completed {
  color: #82ca9d;
}

.revenue-table .Cancelled {
  color: var(--imperial_red);
}

/* Button styles */
.revenue-table .view {
  color: var(--pacific_blue);
}

.revenue-table .refund {
  color: var(--space_cadet);
}

.revenue-table .delete {
  color: var(--imperial_red);
}

.revenue-table .material-symbols-rounded {
  font-size: var(--fs-4);
  margin-right: var(--fs-3);
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .revenue-table-container {
    margin-left: 0;
    padding: var(--fs-10) 0;
    width: 100%;
  }

  .revenue-table {
    border-spacing: 0;
    width: 100%;
  }
}
