.add-revenue-container {
  padding: var(--radius-3) var(--radius-8) 0;
  background: var(--white);
  max-width: 700px;
  max-height: 90vh;
  margin: 0 auto;
  overflow-y: auto;
}

.modal-title {
  margin-bottom: var(--fs-1);
  font-size: var(--fs-4);
  color: var(--davys-gray);
}

.add-revenue-form {
  display: flex;
  flex-wrap: wrap;
}

.form-column {
  flex: 1;
  min-width: 300px;
  padding: var(--radius-10) var(--radius-12);
}

.add-revenue-form label {
  font-size: var(--fs-8);
  color: var(--davys-gray);
  margin-bottom: var(--radius-6);
}

.add-revenue-form input,
.add-revenue-form select,
.add-revenue-form textarea {
  padding: var(--radius-8) var(--radius-12);
  font-size: var(--fs-6);
  background: var(--white);
  width: 100%;
  color: var(--sonic-sliver);
  margin-bottom: var(--radius-10);
  border: 1px solid var(--cultured);
  border-radius: var(--radius-6);
}

.add-revenue-form textarea {
  height: 80px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--radius-10);
}

.cancel-btn,
.submit-btn {
  padding: var(--radius-8) var(--radius-12);
  font-size: var(--fs-6);
  border: none;
  border-radius: var(--radius-6);
  cursor: pointer;
  transition: background 0.3s ease;
}

.cancel-btn {
  background: var(--sonic-sliver);
  color: var(--white);
}

.submit-btn {
  color: var(--white);
  background: var(--space-cadet);
}

.cancel-btn:hover {
  background: var(--davys-gray);
}

.submit-btn:hover {
  background: var(--pacific-blue);
}

@media screen and (max-width: 768px) {
  .add-revenue-form {
    flex-direction: column;
  }
}
