/* AddRevenue.css */
.add-revenue-container {
  padding: var(--fs-10);
  margin: 0 auto;
  border-radius: var(--radius-8);
}

.add-revenue-container h2 {
  margin-bottom: var(--fs-1);
  font-size: var(--fs-4);
  color: var(--davys-gray);
}

.add-revenue-container form {
  display: flex;
  flex-direction: column;
}

.add-revenue-container label {
  margin-bottom: var(--fs-1);
  font-size: var(--fs-4);
  color: var(--davys-gray);
  width: 100%;
}

.add-revenue-container input {
  padding: var(--fs-10) var(--fs-5);
  font-size: var(--fs-5);
  background: var(--cultured);
  width: 100%;
  border: none;
  border-radius: var(--radius-3);
}

.add-revenue-container button {
  padding: var(--fs-10) var(--fs-5);
  background: var(--blue-ryb);
  color: var(--white);
  font-size: var(--fs-4);
  border: none;
  border-radius: var(--radius-6);
  cursor: pointer;
}

.add-revenue-container button:first-child {
  background: var(--space-cadet);
}
