.view-invoice-container {
  font-family: var(--ff-vietnam);
  padding: 20px;
  width: 60vw;
}

.view-invoice-title {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  color: var(--onyx);
  margin-bottom: var(--fs-4);
}

.view-invoice-details {
  display: flex;
  flex-wrap: wrap;
}

.view-invoice-details p {
  font-size: var(--fs-7);
  font-weight: var(--fw-400);
  color: var(--davys-gray);
  margin: 0.5rem 1rem;
  flex: 1 1 45%; /* Adjusts to roughly two columns */
}

.view-invoice-details strong {
  font-weight: var(--fw-500);
}

@media screen and (max-width: 768px) {
  .view-invoice-container {
    padding: 10px;
  }

  .view-invoice-title {
    font-size: var(--fs-4);
  }

  .view-invoice-details p {
    font-size: var(--fs-6);
    flex: 1 1 100%; /* Stacks the items in a single column for smaller screens */
  }
}
