.chat-window-header {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background: var(--white);
}

.chat-window-header-recipient-name {
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  color: var(--eerie-black);
  margin-bottom: 5px;
}

.chat-window-header-recipient-status {
  font-size: var(--fs-8);
  color: var(--pacific-blue);
}
