.company-settings-wrapper {
  display: flex;
  width: 100%;
  padding: 0 50px;
}

/*====================================*/
/* Sidebar */
/*====================================*/

.company-settings-wrapper .sidebar {
  width: 200px;
  background-color: #f7f7f7;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.company-settings-wrapper .sidebar a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  margin-bottom: 5px;
  border-radius: 4px;
}

.company-settings-wrapper .sidebar a:hover {
  background-color: #ddd;
}

.company-settings-wrapper .sidebar a.active {
  background-color: #ccc;
}

/*====================================*/
/* Container */
/*====================================*/

.company-settings-container {
  width: 100%;
  padding: 20px;
}

.company-settings-container .settings-section-title {
  font-size: var(--fs-2);
  font-weight: var(--fw-600);
  color: var(--imperial-red);
  margin-bottom: 1rem;
}

.company-settings-container .settings-section-container {
  margin-bottom: 2rem;
}

.company-settings-container .settings-section {
  flex-basis: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company-settings-container .form-group {
  margin-bottom: 1rem;
  width: calc(33.33% - 1rem);
  box-sizing: border-box;
}

.company-settings-container label {
  display: block;
  font-size: var(--fs-4);
  color: var(--davys-gray);
  margin-bottom: 0.5rem;
}

.company-settings-container input,
.company-settings-container textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: var(--fs-5);
  border: 1px solid var(--onyx);
  border-radius: var(--radius-3);
}

.company-settings-container input,
.company-settings-container textarea {
  padding: 0.5rem;
  border-radius: var(--radius-3);
}
