/*==============================*/
/* expense header */
/*==============================*/

.expense-header {
  display: flex;
  align-items: center;
  padding: var(--fs-3);
  background: var(--white);
  border-radius: var(--radius-8);
  box-shadow: var(--shadow-1);
  margin-bottom: var(--fs-6);
}

.expense-header span.material-symbols-rounded {
  cursor: pointer;
  font-size: var(--fs-3);
  color: var(--space_cadet);
}

.expense-header-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 0 var(--fs-5);
}

.expense-info {
  display: flex;
  flex-direction: column;
}

.header-title {
  color: var(--pacific_blue);
  font-weight: var(--fw-600);
  font-size: var(--fs-4);
}

@media screen and (max-width: 768px) {
  .expense-header {
    display: none;
  }

  .expense-header-content {
    flex-direction: column;
    gap: var(--fs-4);
  }

  .expense-info {
    flex-direction: column;
    gap: var(--fs-4);
  }

  .header-title {
    font-weight: var(--fw-500);
    font-size: var(--fs-4);
  }
}

/*================================*/
/* expense Chart */
/*================================*/

.expense-charts {
  width: 100%;
  margin-bottom: var(--fs-3);
}

/*================================*/
/* expense chart filter */
/*================================*/

.expense-charts .charts-expense-data-filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: var(--fs-10);
  background: var(--white);
  color: var(--black);
  border-radius: var(--radius-8);
}

.expense-charts .charts-expense-data-filter .filter {
  display: flex;
  align-items: center;
}

.charts-expense-data-filter label {
  font-weight: var(--fw-500);
  font-size: var(--fs-6);
  margin-right: var(--fs-1);
}

.charts-expense-data-filter select {
  padding: var(--radius-3) var(--radius-8);
  margin: var(--radius-6);
  font-size: var(--fs-6);
  background: var(--cultured);
  width: 10vw;
  border: none;
  border-radius: var(--radius-8);
}

@media screen and (max-width: 768px) {
  .expense-charts .charts-expense-data-filter {
    flex-direction: column;
    gap: var(--radius-10);
    padding: var(--radius-8) var(--radius-8);
  }

  .charts-expense-data-filter select {
    width: 100%;
    padding: var(--radius-3) var(--radius-8);
    margin: var(--radius-6);
    font-size: var(--fs-6);
    width: 30vw;
  }
}

/*================================*/
/* expense charts container */
/*================================*/

.expense-charts-container {
  display: flex;
  gap: var(--fs-3);
}

.area-chart-container {
  flex-basis: 65%;
  overflow-x: auto;
  padding: var(--fs-5);
  background: var(--white);
  border-radius: var(--radius-8);
  box-shadow: var(--shadow-1);
}

.doughnut-chart-container {
  flex-basis: 35%;
  overflow-x: auto;
  padding: var(--fs-5);
  background: var(--white);
  border-radius: var(--radius-8);
  box-shadow: var(--shadow-1);
}

@media screen and (max-width: 768px) {
  .expense-charts-container {
    flex-direction: column;
  }

  .area-chart-container,
  .doughnut-chart-container {
    flex-basis: 100%;
    padding: var(--fs-6);
  }
}

/* CSS for expense table styling */
/*================================*/
.expense-table-container {
  padding: var(--fs-5);
  background: var(--white);
  border-radius: var(--radius-8);
  box-shadow: var(--shadow-1);
}

.expense-table-container.table {
  margin-left: -270px;
}

.expense-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 35px;
}

.expense-table th,
.expense-table td {
  background: var(--white);
  font-weight: var(--fw-500);
  color: var(--davys_gray);
  text-align: center;
}

.expense-table .completed {
  color: var(--sonic_sliver);
}

.expense-table .pending {
  color: var(--coral);
}

.expense-table .view {
  color: var(--pacific_blue);
}

.expense-table .delete {
  color: var(--imperial_red);
}

@media screen and (max-width: 768px) {
  .expense-table-container {
    margin-left: 0;
    margin-top: var(--fs-3);
  }

  .expense-table {
    border-spacing: 0;
  }
}
