.add-expense-container {
  font-family: var(--ff-vietnam);
  background-color: var(--white);
  color: var(--onyx);
  max-width: 650px;
  margin: 0;
  padding: var(--radius-8);
  border-radius: var(--radius-10);
}

.add-expense-title {
  font-size: var(--fs-3);
  color: var(--space_cadet);
  margin-bottom: var(--fs-1);
  text-align: center;
}

.add-expense-form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--radius-8);
}

.form-group {
  flex: 1 1 calc(50% - 20px);
}

.form-group label {
  font-size: var(--fs-8);
  color: var(--davys_gray);
  margin-bottom: var(--radius-3);
  display: block;
}

.form-group input,
.form-group select {
  padding: var(--radius-8);
  font-size: var(--fs-6);
  background: var(--white);
  color: var(--sonic_sliver);
  width: 100%;
  margin: var(--radius-6) 0 var(--radius-12);
  border: 1px solid var(--cultured);
  border-radius: var(--radius-6);
}

.form-group .error-message {
  color: var(--imperial_red);
  font-size: var(--fs-7);
  margin-top: 5px;
}

.form-group .form-actions {
  display: flex;
  justify-content: space-between;
  padding: var(--radius-10);
}

.form-group .submit-btn {
  padding: var(--radius-10) var(--radius-12);
  font-size: var(--fs-6);
  text-align: center;
  border: none;
  border-radius: var(--radius-6);
  cursor: pointer;
  transition: background 0.3s ease;
  color: var(--white);
  background: var(--space_cadet);
}

.form-group .submit-btn:hover {
  background: var(--pacific_blue);
}

@media screen and (max-width: 768px) {
  .add-expense-form {
    flex-direction: column;
  }

  .form-group .form-group {
    flex: 1 1 100%;
  }
}
