.view-revenue {
  font-family: var(--ff-vietnam);
  background-color: var(--white);
  color: var(--onyx);
  max-width: 600px;
  margin: 20px auto;
  padding: var(--radius-8);
  border-radius: var(--radius-10);
}

.view-revenue h2 {
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  margin-bottom: 20px;
  color: var(--space_cadet);
  text-align: center;
}

.revenue-detail {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-5);
  font-weight: var(--fw-400);
  line-height: 1.5;
  margin: 10px 0;
  border-bottom: 1px solid var(--cultured);
  padding-bottom: 10px;
}

.revenue-detail .label {
  font-weight: var(--fw-600);
  color: var(--space_cadet);
}

.revenue-detail .value {
  color: var(--onyx);
}

.edit-button {
  padding: var(--radius-8) var(--radius-12);
  font-size: var(--fs-6);
  color: var(--white);
  background: var(--space_cadet);
  margin-top: 20px;
  border: none;
  border-radius: var(--radius-6);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-button span {
  margin-left: 5px;
}
