.spinner-container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black_12);
}

.spinner {
  border: 5px solid transparent;
  border-top-color: var(--coral);
  border-style: dotted;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 30px;
  animation: spin 1s linear infinite;
  box-sizing: border-box;
}

.spinner-text {
  position: absolute;
  font-size: var(--fs-10);
  color: var(--space-cadet);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
