.revenue-container {
  background: #f5f9fb;
  width: 100%;
  padding: 0;
}

.revenue-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background: white;
}

.revenue-header-content {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-left: 20px;
}

.revenue-invoice-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.cust-invoice {
  color: #7ab9ff;
  font-weight: bold;
  font-size: 16px;
}

.heading {
  color: #5b5e78;
  font-weight: bold;
  font-size: 16px;
}

.category {
  font-size: 10px;
  background: #668ae9;
  color: #eaeffc;
  width: 55px;
  border-radius: 2px;
  padding: 2px 4px;
}

.company {
  color: #c1c2cc;
  font-size: 12px;
  font-weight: bold;
}

.progress-section,
.members-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  color: #c1c2cc;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

.progress {
  width: 300px;
  height: 8px;
  background: #e6eff3;
  border-radius: 20px;
  position: relative;
}

.progress::after {
  content: "";
  height: 100%;
  background: #3598fe;
  width: 50%;
  border-radius: 20px;
  position: absolute;
}

.members {
  display: flex;
  justify-content: center;
}

.member {
  font-size: 10px;
  color: #e6eff3;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.red {
  background: #ff9292;
}

.blue {
  background: #7ab9ff;
}

.purple {
  background: #9292ff;
}

.add {
  border: 1px solid #c1c2cc;
}

.add i {
  color: #c1c2cc;
}

/*-----------------------------------*\
    #REVENUE TABLE
\*-----------------------------------*/

.menu {
  display: flex;
  padding-left: 70px;
  background: white;
  padding: 10px 0;
}

.menu span {
  color: #c1c2cc;
  font-size: 12px;
  padding: 10px 30px;
  cursor: pointer;
}

.menu span:hover {
  color: #8d90a2;
}

.menu span.active {
  color: #3598fe;
  border-bottom: 2px solid #3598fe;
  font-weight: bold;
}

.table-container {
  margin: 40px 80px;
}

.invoice-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 35px;
}

.invoice-row {
  height: 85px;
  background: white;
  font-size: 14px;
  font-weight: 500;
  color: #8d90a2;
}

.status {
  width: 10px;
  height: 10px;
  background: #ddd;
  border-radius: 50%;
  margin-left: 10px;
}

.date-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month {
  font-size: 10px;
  color: #c1c2cc;
  letter-spacing: 2px;
}

.date {
  font-size: 24px;
  color: #5b5e78;
  letter-spacing: 4px;
}

.status-text {
  text-align: right;
}

.unpaid-bg {
  background: #ff7c8c;
}

.unpaid {
  color: #ff7c8c;
}

.drafted-bg {
  background: #c1c2cc;
}

.drafted {
  color: #c1c2cc;
}

.paid-bg {
  background: #65eb97;
}

.paid {
  color: #65eb97;
}

.add-invoice-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.add-invoice {
  background: #3598fe;
  border-radius: 3px;
  box-shadow: 0px 5px 15px 0px rgba(53, 152, 254, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.add-invoice i {
  color: #f5f9fb;
  font-size: 20px;
}

.invoice-label {
  color: #f5f9fb;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 5px;
}
