.main-container {
  display: flex;
}

.transactions-content {
  flex: 1;
  padding: 0 var(--radius-6);
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .transactions-content {
    padding: 0 10px;
  }
}
