/* ============================ */
/* Water Consumption */
/* ============================ */

.water-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  background: var(--cultured);
  border-radius: var(--radius-6);
}

/* Water Consumption Chart */
.chart-container {
  flex: 4;
  padding: 18px 0;
  position: relative;
}

.chart-title {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  margin-bottom: 10px;
}

.filter-container {
  position: absolute;
  top: -10px;
  right: 18px;
  margin: 10px;
  z-index: 1;
}

.filter-container label {
  margin-right: 5px;
  font-size: var(--fs-8);
  font-weight: var(--fw-400);
}

.filter-container select {
  border: none;
  font-size: var(--fs-8);
  font-weight: var(--fw-400);
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
}

.filter-container select:focus {
  outline: none;
}

/* Water Consumption Summary */
.summary-container {
  flex: 1;
  padding: 8px;
}

.summary-entry {
  align-items: flex-start;
}

.data-item {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 18px 0;
}

.data-item-label {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.data-item-bulletin {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.data-item-bulletin.highest {
  background: var(--coral);
}

.data-item-bulletin.lowest {
  background: var(--pacific-blue);
}

.data-item-label p {
  font-size: var(--fs-7);
  font-weight: var(--fw-400);
}

.data-value {
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  text-align: left;
  width: 100%;
  margin-bottom: 5px;
}

.data-footer {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.data-footer-label {
  font-size: var(--fs-10);
  font-weight: var(--fw-400);
}

hr {
  height: 3px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: var(--davys-gray_12);
}

@media screen and (max-width: 768px) {
  hr {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .water-row {
    flex-direction: column;
  }

  .chart-container {
    padding: 18px 0;
  }

  .summary-container {
    padding: 8px;
  }

  .summary-entry {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .data-item {
    margin: 18px 0;
  }
}

/* ================================ */
/* Payment History */
/* ================================ */
.payment-history-content-table {
  margin: 10px;
}

.payment-history-content-table .table-title {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  margin-bottom: 18px;
}

.payment-history-content-header {
  margin-bottom: 10px;
}

.payment-history-content-header .table_header {
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  flex-basis: 25%;
}

.payment-history-content-body {
  overflow-y: auto;
  max-height: 39vh;
}

.payment-history-content-body .table_content {
  font-size: var(--fs-6);
  font-weight: var(--fw-400);
  line-height: 30px;
  flex-basis: 25%;
}

/* ================================ */
/* Invoices List */
/* ================================ */
.personal-content-invoice-download {
  margin-left: 8px;
  padding: 10px;
}

.personal-content-invoice-download .title {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  margin-bottom: 18px;
}

.personal-content-invoice-download-list {
  list-style: none;
  overflow-y: auto;
  max-height: 35vh;
  padding: 0 10px;
}

.personal-content-invoice-download-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  font-family: var(--ff-vietnam);
  font-size: var(--fs-7);
  color: var(--onyx-2);
}

.personal-content-invoice-download-item .icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  cursor: pointer;
}

/* ================================ */
/* User Profile Card */
/* ================================ */
.personal-profile-card {
  background: var(--white);
  border-radius: var(--radius-16);
  padding: 20px;
  margin-bottom: 20px;
}

.personal-profile-info {
  text-align: center;
}

.personal-profile-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: var(--cultured);
  margin: 10px auto;
}

.personal-full-name {
  font-family: var(--ff-vietnam);
  font-weight: var(--fw-600);
  font-size: var(--fs-4);
  color: var(--onyx-2);
}

.personal-user-content-details {
  margin-top: 10px;
}

.personal-user-content-detail {
  align-items: center;
  margin-bottom: 18px;
  font-family: var(--ff-vietnam);
  font-size: var(--fs-1);
}

.personal-user-content-detail .icon {
  font-size: var(--fs-2);
  margin: auto 20px auto 0;
  align-items: center;
}

.personal-user-content-detail .label {
  font-weight: var(--fw-400);
  font-size: var(--fs-6);
}

.personal-user-content-detail .value {
  font-weight: var(--fw-300);
  font-size: var(--fs-7);
  margin-top: 5px;
}

.personal-profile-button {
  margin: 15px auto;
  padding: 10px 20px;
  font-size: var(--fs-5);
  font-family: var(--ff-vietnam);
  background: var(--pacific-blue_12);
  border: none;
  border-radius: var(--radius-16);
  cursor: pointer;
}

/* ================================ */
/* Data Point Cards */
/* ================================ */
.personal-content-cards {
  justify-content: space-between;
  margin-bottom: 20px;
}

.personal-content-card {
  flex: 1;
  padding: 20px;
  border-radius: var(--radius-6);
  margin-right: 15px;
}

.personal-content-card:last-child {
  margin-right: 0;
}

.personal-content-card-water-usage {
  background: var(--coral_12);
}

.personal-content-card-billing-information {
  background: var(--pacific-blue_12);
}

.personal-content-card-repair-costs {
  background: var(--imperial-red_12);
}

.personal-content-card-label,
.personal-content-card-value,
.personal-content-card-value-status {
  font-family: var(--ff-vietnam);
}

.personal-content-card-label,
.personal-content-card-value-status {
  margin-top: 5px;
  font-weight: var(--fw-400);
  font-size: var(--fs-6);
}

.personal-content-card-value {
  margin-top: 10px;
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
}

.personal-content-card-value-status {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .personal-content-card {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
