/* Settings.css */

.settings-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.settings-title {
  margin-bottom: 20px;
  color: var(--davys-gray);
  font-size: var(--fs-2);
}

.settings-card {
  display: flex;
  background: var(--white);
  border-radius: var(--radius-6);
  overflow: hidden;
  box-shadow: var(--shadow-1);
}

.settings-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.settings-sidebar {
  flex: 1;
  background: var(--onyx);
  color: var(--white);
}

.settings-content {
  flex: 3;
  padding: 20px;
  background: var(--white);
}

.settings-company-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.settings-company-logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.company-name {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  color: var(--cool-gray);
  margin-top: 20px;
}

.settings-nav {
  padding: 20px;
}

.settings-nav-item {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  color: var(--white);
  text-decoration: none;
  transition: background var(--transition);
}

.settings-nav-item:hover {
  opacity: 0.8;
}

.settings-nav-item.active {
  background: var(--onyx-2);
  border-radius: var(--radius-8);
}

.settings-form {
  margin-bottom: 20px;
}

.settings-form label {
  font-size: var(--fs-5);
  color: var(--onyx);
}

.settings-form input,
.settings-form textarea {
  width: 100%;
  padding: 8px 16px;
  margin: 10px auto 20px;
  color: var(--davys-gray);
  opacity: 0.8;
  border: 1px solid var(--davys-gray_12);
  border-radius: var(--radius-3);
}

.settings-form .error {
  color: var(--imperial-red);
  font-size: var(--fs-7);
  margin-top: 5px;
}

.settings-btn {
  padding: 8px 16px;
  border: none;
  border-radius: var(--radius-3);
  cursor: pointer;
  transition: background var(--transition);
}

.settings-btn.primary {
  background: var(--imperial-red);
  color: var(--white);
}

.settings-btn.primary:hover {
  opacity: 0.8;
  color: var(--black);
}

.settings-btn.secondary {
  background: var(--pacific-blue);
  color: var(--white);
}

.settings-btn.secondary:hover {
  opacity: 0.8;
  color: var(--black);
}

.settings-btn.danger {
  background: transparent;
  color: var(--imperial-red);
  margin-top: -20px;
}

.settings-btn.danger:hover {
  opacity: 0.8;
  color: var(--coral);
}

.settings-btn.success {
  background: var(--emerald);
  color: var(--white);
}

.settings-btn.success:hover {
  opacity: 0.8;
  color: var(--black);
}

.material-symbols-rounded {
  font-size: 1.2rem;
  margin-right: 5px;
}

.settings-pane {
  display: none;
}

.settings-pane.active {
  display: block;
}

.settings-pane h5 {
  font-size: var(--fs-4);
  margin-bottom: 20px;
  color: var(--davys-gray);
}

.settings-pane-footer {
  text-align: right;
}
