.settings-container {
  width: 100%;
  margin: 0 20px;
  padding: 0 20px;
  border-radius: 5px;
}

.settings-title {
  font-weight: var(--fw-600);
  font-size: var(--fs-3);
  padding: 20px 0;
}

.settings-card {
  border-radius: 5px;
  overflow: hidden;
}

.settings-row {
  display: flex;
}

.settings-col-md-4 {
  width: 25%;
  padding: 0;
}

.settings-col-md-8 {
  width: 75%;
  padding: 0;
}

.settings-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  background: var(--davys-gray_12);
  display: flex;
  flex-direction: column;
}

.settings-nav-item {
  padding: 15px;
  color: var(--black);
  text-decoration: none;
  border-radius: var(--radius-6);
  transition: background 0.3s;
}

.settings-nav-item:hover {
  background: var(--cultured);
}

.settings-nav-item.active {
  background: var(--pacific-blue);
  color: var(--cultured);
}

.settings-content {
  padding: 20px;
  width: 100%;
  background: var(--white);
}

.settings-pane {
  display: none;
}

.settings-pane.active {
  display: block;
}

.settings-media {
  display: flex;
  align-items: center;
}

.settings-avatar {
  width: 80px;
  border-radius: 50%;
}

.settings-media-body {
  margin-left: 20px;
}

.house-sections-list {
  display: flex;
}

.settings-btn-danger {
  background: var(--imperial-red) !important;
  color: var(--white) !important;
}

.settings-btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background: var(--emerald);
  color: var(--black);
  border-radius: var(--radius-6);
  cursor: pointer;
  transition: background 0.3s;
}

.settings-btn-secondary {
  background: var(--cool-gray);
  color: var(--black);
}

.settings-btn-outline {
  border-color: #007bff;
  color: #007bff;
}

.settings-btn-outline:hover {
  background: #007bff;
  color: #fff;
}

.settings-divider {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.settings-form {
  padding: 20px;
}

.settings-form-group {
  margin-bottom: 20px;
}

.settings-form-label {
  display: block;
  margin-bottom: 5px;
}

.settings-form-control,
.settings-select {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
