.add-user-modal {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  padding: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-user-modal .overlay {
  background: rgba(0, 0, 0, 0.75);
}

.add-user-modal .modal-title {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  margin-bottom: 20px;
}

.add-user-modal button.close {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  color: var(--imperial-red);
  margin-bottom: 20px;
}

.add-user-modal .form label {
  margin-bottom: 10px;
}

.add-user-modal .form input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background: var(--cultured);
}

.add-user-modal .form button {
  padding: 8px 16px;
  background: var(--blue-ryb);
  color: var(--white);
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-user-modal .form button:hover {
  background: var(--pacific-blue);
}
