/*-----------------------------------*\
        #RECORDS ADD INVOICE
  \*-----------------------------------*/

.add-button-invoice-container {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: var(--radius-8);
  bottom: var(--radius-12);
}

.add-button-invoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--radius-8);
  color: var(--cultured);
  background: var(--pacific_blue);
  border-radius: var(--radius-16) var(--radius-16) var(--radius-3)
    var(--radius-3);
  box-shadow: var(--shadow-1);
  cursor: pointer;
}

.add-button-invoice .material-symbols-rounded {
  font-size: var(--fs-1);
  padding-left: var(--radius-3);
}

.add-button-invoice-label {
  font-size: var(--fs-10);
  font-weight: var(--fw-300);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: var(--fs-5);
}

@media screen and (max-width: 768px) {
  .add-button-invoice {
    padding: 5px;
  }

  .add-button-invoice .material-symbols-rounded {
    font-size: 30px;
  }

  .add-button-invoice-label {
    display: none;
  }
}
