.add-invoice-container {
  font-family: var(--ff-vietnam);
  background-color: var(--white);
  color: var(--onyx);
  max-width: 650px;
  margin: 0 auto;
  padding: var(--radius-8);
  border-radius: var(--radius-10);
}

.add-invoice-title {
  font-size: var(--fs-3);
  color: var(--space-cadet);
  margin-bottom: var(--fs-1);
  text-align: center;
}

.add-invoice-form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--radius-16);
}

.form-group {
  flex: 1 1 calc(50% - 20px);
}

.form-group label {
  font-size: var(--fs-7);
  color: var(--davys-gray);
  margin-bottom: var(--radius-3);
  display: block;
}

.form-group input,
.form-group select {
  padding: var(--radius-8);
  font-size: var(--fs-6);
  background: var(--white);
  color: var(--sonic-sliver);
  width: 100%;
  margin: var(--radius-6) 0 var(--radius-12);
  border: 1px solid var(--cultured);
  border-radius: var(--radius-6);
}

.form-group .error-message {
  color: var(--imperial-red);
  font-size: var(--fs-7);
  margin-top: 5px;
}

.form-group .button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--radius-10);
}

.form-group .submit-button {
  padding: var(--radius-10) var(--radius-12);
  font-size: var(--fs-6);
  text-align: center;
  border: none;
  border-radius: var(--radius-6);
  cursor: pointer;
  transition: background 0.3s ease;
  color: var(--white);
  background: var(--space-cadet);
  width: 100%;
}

.form-group .submit-button:hover {
  background: var(--pacific-blue);
}

@media screen and (max-width: 768px) {
  .add-invoice-form {
    flex-direction: column;
  }

  .form-group {
    flex: 1 1 100%;
  }

  .form-group .button-group {
    flex-direction: column;
    gap: 10px;
  }
}
