/*-----------------------------------*\
          #menu
  \*-----------------------------------*/

.records-menu {
  display: flex;
}

.records-menu span {
  color: var(--cool_gray);
  font-size: var(--fs-10);
  padding: 10px 30px;
  cursor: pointer;
}

.records-menu span:hover {
  color: var(--davys_gray);
}

.records-menu span.records-active {
  color: var(--pacific_blue);
  border-bottom: 2px solid var(--pacific_blue);
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .records-menu {
    padding-left: 0;
    justify-content: space-around;
  }
}
