/* DeleteRevenue.css */
.delete-revenue-container {
  padding: var(--fs-10);
  margin: 0 auto;
  border-radius: var(--radius-8);
}

.delete-revenue-container h2 {
  margin-bottom: var(--fs-1);
  font-size: var(--fs-4);
  color: var(--davys-gray);
}

.delete-revenue-container p {
  margin-bottom: var(--fs-1);
  font-size: var(--fs-5);
  color: var(--sonic-sliver);
}

.delete-revenue-container button {
  padding: var(--fs-10) var(--fs-5);
  background: var(--imperial-red);
  color: var(--white);
  font-size: var(--fs-4);
  border: none;
  border-radius: var(--radius-6);
  cursor: pointer;
}

.delete-revenue-container button:first-child {
  background: var(--space-cadet);
}
